.mcxui-pagination{
	display: inline-block;
	background-color: #FFFFFF;
}
.mcxui-pagination *{
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
.mcxui-pagination .pagination-operation{
	display: inline-block;
	height: 28px;
	line-height: 28px;
	color: #333333;
	border: 1px solid #E2E2E2;
	border-radius: 2px;
}
.mcxui-pagination div.first,
.mcxui-pagination div.last,
.mcxui-pagination div.previous,
.mcxui-pagination div.next,
.mcxui-pagination div.page,
.mcxui-pagination div.leaveout{
	display: inline-block;
	height: 100%;
	padding: 0 12px 0 13px;
	border-left: 1px solid #E2E2E2;
	cursor: pointer;
}
.mcxui-pagination div.first:hover,
.mcxui-pagination div.last:hover,
.mcxui-pagination div.previous:hover,
.mcxui-pagination div.next:hover,
.mcxui-pagination div.page:hover{
	background-color: #EEEEEE;
}
.mcxui-pagination .pagination-operation div:first-child{
	border-radius: 2px 0 0 2px;
	border-left: none;
}
.mcxui-pagination .pagination-operation div:last-child{
	border-radius: 0 2px 2px 0;
}
.mcxui-pagination .pagination-operation div.page{
	position: relative;
}
.mcxui-pagination .pagination-operation span.current{
	position: absolute;
	top: -1px;
	left: -1px;
	z-index: 999;
	width: 100%;
	height: 100%;
	padding: 1px;
	text-align: center;
	color: #FFFFFF;
	background-color: #2E8B57;
}
.mcxui-pagination .pagination-operation div.leaveout{
	cursor: default;
}
.mcxui-pagination .pagination-skip{
	display: inline-block;
	margin-left: 12px;
	height: 28px;
	line-height: 28px;
	color: #999999;
}
.mcxui-pagination .pagination-skip .skip-page{
	font-family: inherit;
	font-size: inherit;
	width: 46px;
	height: 100%;
	line-height: 28px;
	padding: 0;
	margin: 0 10px;
	text-align: center;
	color: #333333;
	border: 1px solid #E2E2E2;
	border-radius: 2px;
	outline: none;
}
.mcxui-pagination .pagination-skip .skip-button{
	font-family: inherit;
	font-size: inherit;
	height: 30px;
	margin-left: 10px;
	padding: 0 12px;
	color: #333333;
	border: 1px solid #E2E2E2;
	border-radius: 2px;
	background-color: #FFFFFF;
	cursor: pointer;
	outline: none;
}