.mcxui-tab{
	font-size: 13px;
	height: 100%;
	color: #333333;
	border: 1px solid #E2E2E2;
}
.mcxui-tab *{
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
.mcxui-tab > .tab-head{
	height: 32px;
	background: #EEEEEE;
}
.mcxui-tab > .tab-content{
	border-top: 1px solid #DDDDDD;
}
.mcxui-tab > .tab-head > ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.mcxui-tab > .tab-head li{
	position: relative;
	float: left;
	margin-left: 3px;
	margin-top: 3px;
	padding: 5px 12px;
	height: 18px;
	border: 1px solid #CCCCCC;
	border-bottom: none;
	border-radius: 3px 3px 0 0;
	background: #EBEBEB;
}
.mcxui-tab > .tab-head li:hover{
	cursor: pointer;
}
.mcxui-tab > .tab-head li.selected{
	background: white;
	border-bottom: 1px solid transparent;
}
.mcxui-tab > .tab-head i{
	position: absolute;
	top: 8px;
	right: 6px;
	width: 12px;
	height: 12px;
	background: url(../img/tab_close1.png) no-repeat;
	background-position: center;
	background-clip: border-box;
	opacity: 0.8;
	filter: alpha(opacity = 80);
}
.mcxui-tab > .tab-head i:hover{
	background: url(../img/tab_close2.png) no-repeat;
}
.mcxui-tab > .tab-content > .content{
	display: none;
	padding: 5px;
	overflow: auto;
}
.mcxui-tab > .tab-head .tab-menu-bg{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}
.mcxui-tab > .tab-head .tab-menu{
	font-size: 13px;
	position: absolute;
	padding: 3px 0;
	background-color: #FFFFFF;
	border: 1px solid #E2E2E2;
	z-index: 1001;
}
.mcxui-tab .tab-menu .tab-menu-opt{
	padding: 5px 25px 5px 10px;
	cursor: default;
}
.mcxui-tab .tab-menu .tab-menu-opt:hover{
	background-color: #EBEBEB;
}
